.holder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.item {
  width: 30%;
  height: 50px;
  background-color: lightblue;
  text-align: center;
  line-height: 50px;
  border: 1px solid black;
}